
<<<<<<< HEAD
=======

>>>>>>> d158b42 (merged and routed paymentform to dashboard)
  body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
